@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--white-proect-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

img {
  display: block;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-proect-color: #ffffff;
  --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__main-nav {
  display: flex;
  align-items: center;
}

.header-border {
  border-bottom: 1px solid #ECECEC;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__studio {
  color: #000000;
}

.site-nav {
  display: flex;
  justify-content: center;
  margin-left: 93px;
}

.site-nav__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-time);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-text-color);
}

.current {
  color: var(--accent-text-color);
}
.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-time);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-text-color);
}

.contacts__icon-envelop {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: var(--secondary-text-color);
  transition: fill var(--transition-time);
}
.contacts__link:hover .contacts__icon-envelop, .contacts__link:focus .contacts__icon-envelop {
  fill: var(--accent-text-color);
}

.contacts__icon-phone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: var(--secondary-text-color);
  transition: fill var(--transition-time);
}
.contacts__link:hover .contacts__icon-phone, .contacts__link:focus .contacts__icon-phone {
  fill: var(--accent-text-color);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  background-position: center;
  margin: auto;
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  max-width: 696px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-proect-color);
}

.hero__button {
  background-color: var(--accent-text-color);
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-proect-color);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities__list {
  display: flex;
  gap: 30px;
}

.peculiarities__meta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.peculiarities__elements {
  flex-basis: calc((100% - 90px) / 4);
}

/* .elements:nth-child(4n) {
  margin-right: 0;
} */
.peculiarities__paragraph {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.peculiarities__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* заголовки другого рівня */
.work {
  padding-top: 0;
  padding-bottom: 94px;
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work__item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-proect-color);
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__card {
  position: relative;
  width: 370px;
  flex-basis: calc((100% - 60px) / 3);
  /* margin-right: 30px; */
}

.work__img {
  width: 100%;
}

/* .images:nth-child(3n) {
  margin-right: 0;
} */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  display: flex;
}

.team__workers {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__workers:last-child {
  margin-right: 0;
}

.team__content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--white-proect-color);
}

.team__photo {
  display: block;
  width: 100%;
  height: auto;
}

.team__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team__job {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.social-netwoks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-netwoks__item {
  width: 44px;
  height: 44px;
}

.social-netwoks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill var(--transition-time), background-color var(--transition-time);
}
.social-netwoks__link:hover, .social-netwoks__link:focus {
  background-color: var(--accent-text-color);
}

.social-netwoks__link:hover,
.social-netwoks__link:focus .social-netwoks__icon {
  fill: var(--white-proect-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  margin: 0;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients__list {
  justify-content: center;
  display: flex;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item {
  display: flex;
  flex-basis: calc((100% - 150px) / 6);
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill var(--transition-time), border-color var(--transition-time);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__conteiner {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
}

.footer__logo-studio {
  color: var(--white-proect-color);
}

.address {
  font-style: normal;
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-time);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-text-color);
}

.address__location {
  color: var(--white-proect-color);
}

.invitation {
  margin-left: 70px;
}

.invitation__text {
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-proect-color);
}

.invitation__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.invitation__icon {
  width: 44px;
  height: 44px;
}

.invitation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color var(--transition-time);
}
.invitation__link:hover, .invitation__link:focus {
  background-color: var(--accent-text-color);
}

.subscribe {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-proect-color);
  margin-bottom: 20px;
}

.subscribe__form {
  display: flex;
}

.subscribe__input {
  color: var(--white-proect-color);
  width: 358px;
  height: 50px;
  margin: 0;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition: border-color var(--transition-time);
}
.subscribe__input:focus {
  border-color: var(--accent-text-color);
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-proect-color);
  background-color: var(--accent-text-color);
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  transition: background-color var(--transition-time);
  margin-left: 10px;
}
.subscribe__button:hover, .subscribe__button:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-time);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  text-align: center;
  background-color: var(--white-proect-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-time);
}

.icon-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.icon-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 8px;
  border: none;
  background-color: var(--white-proect-color);
  cursor: pointer;
  transition: fill var(--transition-time);
}

.icon-button:hover {
  fill: var(--accent-text-color);
}

.modal-button {
  padding: 10px 52px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  color: var(--white-proect-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--transition-time);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #188ce8;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
}

.modal .modal-wrapper {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
}

.modal-wrapper:nth-of-type(4n) {
  margin-bottom: 20px;
}

.coment-wrap {
  display: flex;
  margin-bottom: 20px;
}

.label-title {
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--transition-time);
}

.modal-input:focus {
  border: 1px solid var(--accent-text-color);
}

.modal-input:focus + .icon-person {
  fill: var(--accent-text-color);
}

.modal-coment {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--transition-time);
  resize: none;
}

.modal-coment:focus {
  border: 1px solid var(--accent-text-color);
}

.input-checkbox {
  position: absolute;
  widows: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-text-color);
  margin-left: 7px;
}

.icon-person {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill var(--transition-time);
}

.checkbox-wrapper {
  margin-bottom: 30px;
}

.modal-checkbox {
  position: relative;
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.icon-checkbox {
  position: absolute;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
  fill: transparent;
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
}

.input-checkbox:checked + .icon-checkbox {
  fill: var(--accent-text-color);
  box-sizing: content-box;
  border: var(--accent-text-color);
}

.portfolio.list {
  display: flex;
  justify-content: center;
}

.portfolio-button {
  margin-right: 8px;
}

.portfolio-button:last-child {
  margin-right: 0;
}

.portfolio.list {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 34px;
}

.portfolio {
  padding-bottom: 94px;
  padding-top: 94px;
}

.second.button {
  display: inline-block;
  padding: 6px 22px;
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  transition: color var(--transition-time), background-color var(--transition-time), box-shadow var(--transition-time);
}

.second.button:hover,
.second.button:focus {
  color: var(--white-proect-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-wrapper {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-proect-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--transition-time), opacity var(--transition-time);
}

.portfolio-card:hover .portfolio-wrapper {
  opacity: 1;
  transform: translateY(0%);
}

.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
}

.cards {
  flex-basis: calc((100% - 60px) / 3);
}

.title-sites {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .portfolio-title {
  color: var(--primary-text-color);
}

.portfolio-sites {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-card {
  display: block;
}

.portfolio-card:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=main.css.map */